/* font sizes */
.markdown {
  font-size: var(--chakra-fontSizes-lg);
  line-height: var(--chakra-lineHeights-tall);
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  margin-top: var(--chakra-sizes-6);
  margin-bottom: var(--chakra-sizes-6);
}

.markdown h2 {
  font-size: var(--chakra-fontSizes-3xl);
  font-weight: var(--chakra-fontWeights-bold);
  margin-top: var(--chakra-sizes-12);
  margin-bottom: var(--chakra-sizes-4);
  padding-bottom: var(--chakra-sizes-1);
  line-height: var(--chakra-lineHeights-short);
  border-bottom: var(--chakra-sizes-1) solid var(--chakra-colors-gray-300);
}

.markdown h3 {
  font-size: var(--chakra-fontSizes-2xl);
  font-weight: var(--chakra-fontWeights-semibold);
  margin-top: var(--chakra-sizes-8);
  margin-bottom: var(--chakra-sizes-4);
  line-height: var(--chakra-lineHeights-short);
}

/* list styles */
.markdown ul,
.markdown ol {
  list-style: circle inside;
}

.markdown a {
  color: var(--chakra-colors-blue-500);
  text-decoration: none;
}

/* only for inline code */
/* .markdown code {
  font-family: var(--chakra-fonts-mono);
  font-size: var(--chakra-fontSizes-sm);
  background-color: var(--chakra-colors-gray-200);
  padding: var(--chakra-sizes-1) var(--chakra-sizes-2);
  border-radius: var(--chakra-radii-sm);
} */

.markdown blockquote {
  border-left: var(--chakra-sizes-2) solid var(--chakra-colors-gray-300);
  padding: var(--chakra-sizes-4);
  margin-left: 0;
  margin-right: 0;
  background-color: var(--chakra-colors-gray-200);
  font-style: italic;
}

.markdown blockquote p {
  margin-top: 0;
  margin-bottom: 0;
}
