/**
 * inline code styles
 */
:not(pre) > code {
  background-color: #edf2f7;
  padding: 0.2em 0.4em;
  border-radius: 4px;
}

.rehype-code-title {
  width: fit-content;
  padding-inline: 0.75em;
  padding-block: 0.25em;
  color: #edf2f7;
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.25;
  background-color: #2d3748;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
}

.rehype-code-title + pre {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 0;
}

/**
 * Headings anchor link
 */
.header-anchor-link {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-100%, 20%);
  padding-right: 4px;
  height: 1em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* tailwind's text-gray-400 */
  color: rgb(156 163 175);
}

h1 .header-anchor-link svg,
h2 .header-anchor-link svg,
h3 .header-anchor-link svg,
h4 .header-anchor-link svg,
h5 .header-anchor-link svg,
h6 .header-anchor-link svg {
  fill: currentColor;
  visibility: hidden;
}

h1:hover .header-anchor-link svg,
h2:hover .header-anchor-link svg,
h3:hover .header-anchor-link svg,
h4:hover .header-anchor-link svg,
h5:hover .header-anchor-link svg,
h6:hover .header-anchor-link svg {
  visibility: visible;
}
